<!doctype html>
<html>
<head>
    <title>Beat the BOT</title>
    <link rel="stylesheet" href="/static/wordle.css">
    <script>
        function loadToday() {
            window.location.href = "{{ url_for('load_data') }}";
        }
        </script>
    </head>
<body>
    <div class="center">
    <h1>Database Info</h1>
    <table style="width: 300px">
        <tr><td>Date</td><td>Solved in:</td><td>Delete</td></tr>
        {% for d, row in data.items() %}
        <tr><td>{{ d }}</td><td>{{row}}</td><td><a href="/delete/{{d}}">delete</a></td></tr>
        {% endfor %}
    </table>

    <h2>Selenium Info</h2>
    <p>Selenium Info: {{selenium_addr}}:{{selenium_port}}</p>
    </div>
</body>
</html>
