<div class="center">
    <div class="game-table">
        <div class="parent" *ngFor="let row of rows">
            <div *ngFor="let letter of row.letters" [ngClass]="letter.state">{{letter.letter}}</div>
        </div>
    </div>
    <div class="bottom-panel">
        <div class="keyboard">
            <div *ngFor="let key_row of keyboard_layout" class="keyboard-row">
                <div *ngFor="let key of key_row" class="letter" id="key_{{key[0]}}" [ngClass]="key[1]" (click)="onKey($event)">{{key[0]}}</div>
            </div>
        </div>
    </div>
    <div class="center">
        <div class="center"><a href="/today"><button class="wordle" id="play_button" >Today's Answer</button></a></div>
        <div class="center"><button class="wordle" id="start_over" (click)="resetGame()">Start Over</button></div>
    </div>

</div>